<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">        
        <title>LOGIN-BACKEND176-InvoiceSystem</title>
        <h1>BACKEND(176)-InvoiceSystem</h1>
        <title>Áfa összesítő</title>
        <style>
            table {
                width: 50%;
                border-collapse: collapse;
                margin: 20px 0;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 8px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>Áfa összesítő</h1>
        <table>
            <tr>
                <th>Áfa kulcs</th>
                <th>Összeg</th>
            </tr>
            <tr th:each="entry : ${afaOsszesito}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
        </table>
        <br>
        <!-- Vissza gomb -->
        <a th:href="@{/appmenu}">Vissza</a>        
    </body>
</html>

