<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">        
        <title>LOGIN-BACKEND176-InvoiceSystem</title>
        <h1>BACKEND(176)-InvoiceSystem</h1>
        <h2>Cikk tétel módosítása</h2>      
    </head>
    <body>
        <h2>Új cikk</h2>
        <form th:action="@{/cikkek/modify}" method="post" th:object="${modifyCikk}">
           <table>
                <tbody>            
                    <!-- Űrlap mezők -->
                    <tr><td>Id = </td><td><input th:field="*{id}" readonly="readonly" /></td></tr>
                    <tr><td>Megnevezés :</td><td><input th:field="*{megnevezes}" /></td></tr>
                    <tr><td>Menny.Egys :</td><td><input th:field="*{mennyegys}" /></td></tr>
                    <tr><td>ÁFA-kulcs  :</td><td><input th:field="*{afa_kulcs}" /></td></tr>
                    <tr><td>Egységár   :</td><td><input th:field="*{egyseg_ar}" /></td></tr>
                    <tr><td>Készlet mennyisége :</td><td><input th:field="*{keszleten_van}" /></td></tr>
                </tbody>
            </table>                    
            <br>
            <button type="submit">Módosítás végrehajtása!</button>
        </form>
        <br>
        <!-- Vissza gomb -->
        <a th:href="@{/appmenu}">Vissza</a>
    </body>
</html>
