<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">        
        <title>LOGIN-BACKEND176-InvoiceSystem</title>
        <h1>BACKEND(176)-InvoiceSystem</h1>
        <h2>Bejelentkezés</h2>      
    </head>
    <body>
        <h2>Felhasználó Módosítása</h2>
        <form th:action="@{/invusers/invuser_modify}" method="post" th:object="${modifyInvUser}">
            <table>
                <tbody>
                    <tr>                        
                        <th>ID</th>   
                        <th>UserName-felh.Neve</th>
                        <th>Password-jelszó</th>
                        <th>Authority-Jogosultság</th>
                        <th>Törlés-delete</th>
                    </tr>                
                    <tr><td>Id :<span th:text="*{Id}"> </span></td><td><input th:field="*{Id}" type="hidden" /></td></tr>
                    <tr><td>Név :</td><td><input th:field="*{userName}" /></td></tr>
                    <tr><td>Jelszó :</td><td><input th:field="*{pw}" /></td></tr>
                    <select th:field="*{ls}">
                        <!--Ez alább egy tipikus "SpEL" (Spring Expression Language - a Spring Frameworkben) kifejezés -->
                        <option th:each="lsOption : ${ T(hu.anzek.backend.invoce.service.enumeralt.Jogosultsagok) .values() }" th:value="${lsOption}" th:text="${lsOption}"></option>
                    </select> 
                </tbody>
            </table>
            <br>
            <button type="submit">Módosítás végrehajtása!</button>
        </form>
        <br>
        <a th:href="@{/appmenu}">VISSZA</a>
    </body>
</html>
