<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">        
        <title>LOGIN-BACKEND176-InvoiceSystem</title>
        <h1>BACKEND(176)-InvoiceSystem</h1>
        <h2>Partneradatok kezelése</h2>      
    </head>
    <body>
        <h2>Partnerek módosítása</h2>
        <form th:action="@{/partner/modify}" th:object="${partnerDto}" method="post">
            <!-- Input mezők -->
            <button type="submit">Mentés</button>
        </form>

        <!-- Vissza gomb -->
        <a th:href="@{/appmenu}">Vissza</a>   
    </body>
</html>
