<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymus">        
        <title>LOGIN-BACKEND176-InvoiceSystem</title>
        <h1>BACKEND(176)-InvoiceSystem</h1>
        <title>Számla</title>
        <style>
            table {
                width: 100%;
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
            th, td {
                padding: 8px;
                text-align: left;
            }
        </style>
    </head>
    <body>
        <h1>Számla</h1>
        <table>
            <tr>
                <th>Számlaszám</th>
            </tr>
            <tr>
                <td th:text="${invoice.szamlaszam}">számlaszám/évszám</td>
            </tr>
            <tr>
                <th>Szállító</th>
                <th>Címe</th>
                <th>Adószáma</th>
                <th>Közösségi</th>
            </tr>
            <tr>
                <td th:text="${invoice.szallito_megnevezes}">megnevezés</td>
                <td th:text="${invoice.szallito_irszam + ' ' + invoice.szallito_telepules + ' ' + invoice.szallito_utca + ' ' + invoice.szallito_kozterulet + ' ' + invoice.szallito_hazszam}">címe</td>
                <td th:text="${invoice.szallito_adoszam}">adószáma</td>
                <td th:text="${invoice.szallito_kozossegi_asz}">közöségiAdósz</td>
            <tr>
                <th>Vevő</th>
                <th>Címe</th>
                <th>Adószáma</th>
                <th>Közösségi</th>                
            </tr>
                <td th:text="${invoice.vevo_megnevezes}">megnevezés</td>
                <td th:text="${invoice.vevo_irszam + ' ' + invoice.vevo_telepules + ' ' + invoice.vevo_utca + ' ' + invoice.vevo_kozterulet + ' ' + invoice.vevo_hazszam}">címe</td>
                <td th:text="${invoice.vevo_adoszam}">adószáma</td>
                <td th:text="${invoice.vevo_kozossegi_asz}">közöségiAdósz</td>
            </tr>
            <tr>
                <th>Készítés dátuma</th>
                <th>Szállítás napja</th>
            </tr>
            <tr>
                <td th:text="${invoice.keszult}">kiállítás-dátuma</td>
                <td th:text="${invoice.szallitas_napja}">tényteljesítés-dátuma</td>
            </tr>
        </table>
        <h3>Számla tételek</h3>
        <table>
            <tr>
                <th>Cikk kód</th>
                <th>Megnevezés</th>
                <th>Mennyiség</th>
                <th>Egységár</th>
                <th>ÁFA kulcs</th>                
                <th>Alap</th>
                <th>Adó</th>
                <th>Bruttó</th>
                <th>Megjegyzés</th>
            </tr>
            <tr border="1" align="left" th:each="item : ${iTetelek}">
                <td th:text="${item.cikk_kod}">cikKod</td>
                <td th:text="${item.megnevezes}">megnevezes</td>
                <td th:text="${item.mennyiseg}">mennyiseg</td>
                <td th:text="${item.egyseg_ar}">egysegAr</td>
                <td th:text="${item.afa_kulcs}">afaKulcs</td>                
                <td th:text="${item.mennyiseg * item.egyseg_ar}">nettó</td>
                <td th:text="${(item.afa_kulcs / 100) * item.mennyiseg * item.egyseg_ar}">adótartalom</td>
                <td th:text="${(1 + (item.afa_kulcs / 100)) * item.mennyiseg * item.egyseg_ar}">bruttó</td>
                <td th:text="${item.megjegyzes}">megjegyzes</td>
            </tr>
        </table>
        <br>
        <h3>Számla adtótartalom összesítése</h3>
        <table>
            <tr>
                <th>ÁFA-kulcs</th>
                <th>áfaTartalom</th>
            </tr>
            <tr th:each="afa : ${afaTartalom}">
                <td th:text="${afa.key + ' %'}">Áfa Kulcs</td>
                <td th:text="${afa.value + ' HUF'}">Összeg</td>             
            </tr>    
        </table>
        <br>
        <h3>Számla összesítő</h3>
        <table>            
            <tr>
                <th>Nettó érték</th>
                <th>ÁfaTartalom</th>
                <th>Bruttó érték</th>
            </tr>
            <tr>
                <td th:text="${invoice.netto_ertek + ' HUF'}">számla-nettó_érték</td>
                <td th:text="${invoice.ado_ertek + ' HUF'}">számla-áfa_tartalom</td>
                <td th:text="${invoice.brutto_ertek + ' HUF'}">számla-bruttó_érték</td>
            </tr>            
        </table>
        <br>
        <br>
        <!-- Vissza gomb -->
        <a th:href="@{/appmenu}">Vissza</a>        
    </body>
</html>
